<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Notes App</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="app">
      <h2>My Goals App</h2>
      <input type="text" id="noteInput" v-model="enteredValue" />
      <button v-on:click="addGoal">Add</button>
      <ul>
        <li v-for="goal in goals" :key="goal.id">{{ goal }}</li>
      </ul>
    </div>

    <!-- Import Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./main.js"></script>
  </body>
</html>
